APP_NAME="BMS — Belawa Management System"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://bms.adbr.my.id
FRONTEND_URL=https://bms.adbr.my.id

SANCTUM_STATEFUL_DOMAINS=bms.adbr.my.id
SESSION_SECURE_COOKIE=true
SESSION_SAME_SITE=lax

APP_LOCALE=id
APP_FALLBACK_LOCALE=id
APP_FAKER_LOCALE=id_ID

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=warning

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=db_bms
DB_USERNAME=bms_app
DB_PASSWORD=GANTI_PASSWORD_KUAT

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database
CACHE_STORE=database

MAIL_MAILER=log

N8N_WEBHOOK_URL=
